
.sidebar {
    background: var(--darkGrey);
}

@media screen and (min-width:768px) {
    .hero {
        background: -webkit-gradient(linear,left top, left bottom,from(rgba(241,80,37,0.75)),to(rgba(245,245,245,0.3))), url("../assets/images/banner/banner.jpg") center/cover fixed no-repeat;
        background: linear-gradient(rgba(241,80,37,0.75),rgba(245,245,245,0.3)), url("../assets/images/banner/banner.jpg") center/cover fixed no-repeat;
    }
}

@media screen and (min-width: 1170px) {
    
   .hero {
    width: 95%;
    max-height: calc(100vh - 3rem);
    background-size: calc(100% - 200px);
    background-position:right; 
   }
   .navbar {
    min-height: calc(100vh - 3rem);
   }
    .sidebar {
        position: absolute;
        overflow: hidden;
        right: 0;
        top: 0;
        width:calc(100% - 95%);
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5,1fr);
        min-height: calc(100vh - 3rem);
        -webkit-box-align: center;
                align-items: center;
    }
}
