/* 
**********************
GOGLE FONTS 
**********************
*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

/* 
**********************
VARIABLES 
**********************
*/
:root{
    --primaryColor:#f15025;
    --mainBlack:#222;
    --mainWhite:#fff;
    --offWhite:#f7f7f7;
    --darkGrey:#afafaf;
    --lightGrey:#afafaf63;
    --mainTransition:all 0.3s linear;
    --mainSpacing:0.2rem;
    --primary-ff:"Fira Code", "monospace";
    --weight-300:300;
    --weight-400:400;
    --lightShadow:0 5px 15px rgba(0,0,0,0.2);
    --darkShadow:0 5px 15px rgba(0,0,0,0.4);
}

/* 
**********************
GLOBAL STYLES 
**********************
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--primary-ff);
    color: var(--mainBlack);
    background: var(--mainWhite);
    line-height: 1.5;
}
a{
    text-decoration: none;
}
li {
    list-style: none;
}
img:not(.logo-img) {
    width: 100%;
    display: block;
}

h1,h2,h3 {
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 1.25rem;
    font-weight: var(--weight-400);
}
h1 {
    font-size: 3rem;
}
h2 {
    margin-bottom: 0;
}
p {
    font-weight: var(--weight-300);
    font-size: 0.7rem;
    line-height: 2;
}
.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 3rem;
    color: var(--primaryColor);
    text-transform: capitalize;
    font-weight: 600;
    border: 3px solid var(--primaryColor);
    transition: var(--mainTransition);
    -webkit-transition: var(--mainTransition);
    -moz-transition: var(--mainTransition);
    -ms-transition: var(--mainTransition);
    -o-transition: var(--mainTransition);
}
.btn:hover {
    background: var(--primaryColor);
    color: var(--mainWhite) ;
}

/* 
**********************
MAIN NAVBAR
**********************
*/
.main-navbar {
    background: var(--darkGrey);
    padding: 0 2rem;
}
.main-navbar a {
    text-transform: capitalize;
    display: inline-block;
    padding: 1rem 0;
    color: var(--primaryColor);
    font-weight: 700;
    letter-spacing: var(--mainSpacing);
    transition: var(--mainTransition);
    -webkit-transition: var(--mainTransition);
    -moz-transition: var(--mainTransition);
    -ms-transition: var(--mainTransition);
    -o-transition: var(--mainTransition);
}
.main-navbar a:hover {
    color: var(--mainBlack);
}
@media screen and (min-width:778px) {
    .main-navbar ul {
        width: 90vw;
        max-width: 1170px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4 , 1fr);
        justify-items: center;
    }
    
}

/* 
**********************
HERO
**********************
*/
.hero-header {
    min-height: 100vh;
    color:var(--mainBlack);
    background: var(--primaryColor);
    display: grid;
    justify-content: center;
    align-items: center;
    
}
.hero-banner> h1 {
    font-weight: 600;
}
.hero-banner p{
    width: 80%;
    max-width: 550px;
    font-size: 1rem;
    color: var(--darkGrey);
}
strong {
    color: var(--mainBlack);
}
@media screen and (max-width:600px) {
    .hero-banner{
        padding: 0 3rem;
    }
}
@media screen and (min-width:600px) {
    .hero-banner {
        text-align: center;
    }
    .hero-banner p {
        margin: 0 auto;
    }
}
@media screen and (min-width:768px) {
    .hero-header {
        background: linear-gradient(rgba(241,80,37,0.75),rgba(245,245,245,0.3)), url("../assets/images/banner/banner.jpg") center/cover fixed no-repeat;
    }
}
/* 
**********************
CARDS 
**********************
*/
.cards {
    
    background:#fff8dc;
    padding: 4rem 0;
}
.cards-title {
    text-align: center;
    color: var(--mainBlack);
}
.cards-center {
    width: 80vw;
    max-width: 1170px;
    margin: 2rem auto;
    display: grid;
    column-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.card {
    background: var(--offWhite);
    border: 2px solid var(--mainBlack);
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    margin-bottom: 3rem;
    transition: var(--mainTransition);
    -webkit-transition: var(--mainTransition);
    -moz-transition: var(--mainTransition);
    -ms-transition: var(--mainTransition);
    -o-transition: var(--mainTransition);
    box-shadow: var(--lightShadow);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}
.card-img {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    height: 20rem;
    object-fit: cover;
}
.card-info {
    padding: 1rem;
   
}
.card-info>h3 {
    font-weight: 500;
    margin-bottom: 0.5rem;
}
.card-info >p {
    font-size: 0.85rem;
    font-weight: 400;
    color: var(--darkGrey);
}

.card-footer {
    background: var(--lightGrey);
    padding: 0.75rem 1rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}
.card-footer span {
    color: var(--primaryColor);
    font-size: 1.25rem;
    transition: var(--mainTransition);
    -webkit-transition: var(--mainTransition);
    -moz-transition: var(--mainTransition);
    -ms-transition: var(--mainTransition);
    -o-transition: var(--mainTransition);
}

.card:hover {
    box-shadow: var(--darkShadow);
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
}
.card-footer span:hover {
    color: blue;
    transform: translateY(-0.25rem);
    -webkit-transform: translateY(-0.25rem);
    -moz-transform: translateY(-0.25rem);
    -ms-transform: translateY(-0.25rem);
    -o-transform: translateY(-0.25rem);
}
