/* 
**********************
GOGLE FONTS 
**********************
*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

/* 
**********************
VARIABLES 
**********************
*/
:root{
    --primaryColor:#f15025;
    --mainBlack:#222;
    --mainWhite:#fff;
    --offWhite:#f7f7f7;
    --darkGrey:#afafaf;
    --lightGrey:#afafaf63;
    --mainTransition:all 0.3s linear;
    --mainSpacing:0.2rem;
    --primary-ff:"Fira Code", "monospace";
    --weight-300:300;
    --weight-400:400;
    --lightShadow:0 5px 15px rgba(0,0,0,0.2);
    --darkShadow:0 5px 15px rgba(0,0,0,0.4);
}

/* 
**********************
GLOBAL STYLES 
**********************
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--primary-ff);
    color: var(--mainBlack);
    background: var(--mainWhite);
    line-height: 1.5;
}
a{
    text-decoration: none;
}
li {
    list-style: none;
}
img:not(.logo-img) {
    width: 100%;
    display: block;
}

h1,h2,h3 {
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 1.25rem;
    font-weight: var(--weight-400);
}
h1 {
    font-size: 3rem;
}
h2 {
    margin-bottom: 0;
}
p {
    font-weight: var(--weight-300);
    font-size: 0.7rem;
    line-height: 2;
}
.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 3rem;
    color: var(--primaryColor);
    text-transform: capitalize;
    font-weight: 600;
    border: 3px solid var(--primaryColor);
    transition: var(--mainTransition);
    -webkit-transition: var(--mainTransition);
    -moz-transition: var(--mainTransition);
    -ms-transition: var(--mainTransition);
    -o-transition: var(--mainTransition);
}
.btn:hover {
    background: var(--primaryColor);
    color: var(--mainWhite) ;
}

/* 
**********************
MAIN NAVBAR
**********************
*/
.main-navbar {
    background: var(--darkGrey);
    padding: 0 2rem;
}
.main-navbar a {
    text-transform: capitalize;
    display: inline-block;
    padding: 1rem 0;
    color: var(--primaryColor);
    font-weight: 700;
    letter-spacing: var(--mainSpacing);
    transition: var(--mainTransition);
    -webkit-transition: var(--mainTransition);
    -moz-transition: var(--mainTransition);
    -ms-transition: var(--mainTransition);
    -o-transition: var(--mainTransition);
}
.main-navbar a:hover {
    color: var(--mainBlack);
}
@media screen and (min-width:778px) {
    .main-navbar ul {
        width: 90vw;
        max-width: 1170px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4 , 1fr);
        justify-items: center;
    }
    
}

/* 
**********************
HERO
**********************
*/
.hero-header {
    min-height: 100vh;
    color:var(--mainBlack);
    background: var(--primaryColor);
    display: grid;
    justify-content: center;
    align-items: center;
    
}
.hero-banner> h1 {
    font-weight: 600;
}
.hero-banner p{
    width: 80%;
    max-width: 550px;
    font-size: 1rem;
    color: var(--darkGrey);
}
strong {
    color: var(--mainBlack);
}
@media screen and (max-width:600px) {
    .hero-banner{
        padding: 0 3rem;
    }
}
@media screen and (min-width:600px) {
    .hero-banner {
        text-align: center;
    }
    .hero-banner p {
        margin: 0 auto;
    }
}
@media screen and (min-width:768px) {
    .hero-header {
        background: linear-gradient(rgba(241,80,37,0.75),rgba(245,245,245,0.3)), url("../assets/images/banner/banner.jpg") center/cover fixed no-repeat;
    }
}
/* 
**********************
CARDS 
**********************
*/
.cards {
    
    background:#fff8dc;
    padding: 4rem 0;
}
.title {
    text-align: center;
    color: var(--mainBlack);
}
.cards-center {
    width: 80vw;
    max-width: 1170px;
    margin: 2rem auto;
    display: grid;
    column-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.card {
    background: var(--offWhite);
    border: 2px solid var(--mainBlack);
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    margin-bottom: 3rem;
    transition: var(--mainTransition);
    -webkit-transition: var(--mainTransition);
    -moz-transition: var(--mainTransition);
    -ms-transition: var(--mainTransition);
    -o-transition: var(--mainTransition);
    box-shadow: var(--lightShadow);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}
.card-img {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    height: 20rem;
    object-fit: cover;
}
.card-info {
    padding: 1rem;
   
}
.card-info>h3 {
    font-weight: 500;
    margin-bottom: 0.5rem;
}
.card-info >p {
    font-size: 0.85rem;
    font-weight: 400;
    color: var(--darkGrey);
}

.card-footer {
    background: var(--lightGrey);
    padding: 0.75rem 1rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}
.card-footer span {
    color: var(--primaryColor);
    font-size: 1.25rem;
    transition: var(--mainTransition);
    -webkit-transition: var(--mainTransition);
    -moz-transition: var(--mainTransition);
    -ms-transition: var(--mainTransition);
    -o-transition: var(--mainTransition);
}

.card:hover {
    box-shadow: var(--darkShadow);
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
}
.card-footer span:hover {
    color: blue;
    transform: translateY(-0.25rem);
    -webkit-transform: translateY(-0.25rem);
    -moz-transform: translateY(-0.25rem);
    -ms-transform: translateY(-0.25rem);
    -o-transform: translateY(-0.25rem);
}
/* 
**********************
TILES
**********************
*/
.tiles {
    padding: 4rem 0;
}

.tiles-center {
    width:90vw;
    max-width: 1170px;
    margin: 2rem auto;
    display: grid;
    row-gap: 2rem;
}
.tiles-center img {
    height: 400px;
    object-fit: cover;
}
.tiles-center img, .tiles-center article {
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    transition: var(--mainTransition);
    -webkit-transition:var(--mainTransition);
    -moz-transition:var(--mainTransition);
    -ms-transition:var(--mainTransition);
    -o-transition:var(--mainTransition);
}
.tiles-center article {
    border: 1px solid #5b03adda;
    overflow: hidden;
}

@media screen and (max-width:1170px) {
    .tiles-center article {
        box-shadow: var(--lightShadow);
    }
    
    .tiles-center img:hover {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
    }
    .tiles-center article:hover {
        box-shadow: var(--darkShadow);
    }
}
@media screen and (min-width:768px) {
    .tiles-center {
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }
    .tiles-center img {
        height: 350px;
    }
}
@media screen and (min-width:992px) {
    .tiles-center {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (min-width:1170px) {
    .tiles-center {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 250px);
        grid-template-areas:
        "a a a b"
        "a a a c"
        "d d d d"
        "e f f f"
        "e g h i";
        
    }
    .tiles-center img {
        height:100%;
    }
    .tile-1 {
        grid-area: a;
    }
    .tile-2 {
        grid-area: b;
    }
    .tile-3 {
        grid-area: c;
    }
    .tile-4 {
        grid-area: d;
    }
    .tile-5 {
        grid-area: e;
    }
    .tile-6 {
        grid-area: f;
    }
    .tile-7 {
        grid-area: g;
    }
    .tile-8 {
        grid-area: h;
    }
    .tile-9 {
        grid-area: i;
    }
}

/* 
**********************
LAYOUT
**********************
*/
.nav-btn {
    position: fixed;
    top: .75%;
    left: 2%;
    font-size: 2rem;
    color: var(--darkGrey);
    z-index: 1;
    cursor: pointer;
    animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
}
/* Animation  nav- btn */
@keyframes bounce {
    0%{
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
    50%{
        transform: scale(1.3);
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -ms-transform: scale(1.3);
        -o-transform: scale(1.3);
    }
    100%{
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
 }
.navbar {
    background: var(--darkGrey);
    min-height: 3rem;
}
.navbar li {
    list-style-type: none;
}
.navbar a {
    padding: 0.75rem 1rem;
    display: inline-block;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
    color: var(--mainBlack);
    font-size: 1.2rem;
    font-weight: 700;
    transition: var(--mainTransition);
    -webkit-transition: var(--mainTransition);
    -moz-transition: var(--mainTransition);
    -ms-transition: var(--mainTransition);
    -o-transition: var(--mainTransition);
}
.navbar a:hover {
    background: var(--primaryColor);
    color: var(--mainWhite);
    padding-left: 1.5rem;
    border-left: 0.25rem solid var(--mainWhite);
}
.navbar{
    position: fixed;
    inset:0;
    box-shadow: 2px 0 2px rgba(0,0,0,0.2);
    z-index: 2;
    transform: translateX(-100%);
    transition: var(--mainTransition);
    -webkit-transition: var(--mainTransition);
    -moz-transition: var(--mainTransition);
    -ms-transition: var(--mainTransition);
    -o-transition: var(--mainTransition);
}
.show-nav {
    transform: translate(0);
}
.navbar-header {
    text-align: right;
    padding-right:1rem ;
}
.nav-close {
    font-size: 2.5rem;
    cursor: pointer;
    color: #f29c9c;
    transition: var(--mainTransition);
    -webkit-transition: var(--mainTransition);
    -moz-transition: var(--mainTransition);
    -ms-transition: var(--mainTransition);
    -o-transition: var(--mainTransition);
}
.nav-close:hover {
    color: #bb2525;
}
.content-header {
    background: var(--primaryColor);
    text-align: center;
    color: var(--mainWhite);
    padding: 0.5rem 0;
}
.content-info{
    padding: 2rem;
    padding-left: 3rem;
    font-size: 1rem;
    width: 80vw;
    max-width: 1170px;
    margin: 0 auto;
}
.sidebar {
    background: var(--primaryColor);
    padding: 0.75rem 0;
    color: var(--mainWhite);
    font-size: 1.375rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}
.footer {
    background: var(--mainBlack);
    color: var(--mainWhite);
    text-align: center;
    padding: 0.5rem 0;
    text-transform: capitalize;
}
.footer p {
    font-size: 1rem;
}
.main {
    min-height:100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto;
}

@media screen and (min-width:768px) {
    .nav-btn {
        display: none;
    }
    .navbar {
        position: static;
        transform: translate(0);
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
    }
    .navbar-header {
        display: none;
    }
    .nav-items {
        display: grid;
        grid-template-columns: repeat(5,1fr);
        justify-items: center;
    }
    .navbar a:hover {
        background: none;
        padding: 0.75rem 1rem;
        border:none;
    }
    .main {
        min-height: calc(100vh - 3rem);
    }
}

@media screen and (min-width:992px) {
    body {
        position: relative;
    }
    .navbar {
        width: 200px;
        display: grid;
        box-shadow: none;
    }
    .navbar ul { 
        grid-template-columns: 200px;
        align-items: center;
        min-height: 100vh;
    }
    .main {
        position: absolute;
        top: 0;
        left: 200px;
        min-height: 100vh;
        width: calc(100% - 200px);
        grid-template-columns:  [start] 100% [end] ;
        grid-template-rows: [start] calc(100vh - 3rem - 57px) [row-1-end] auto [row-2-end] 3rem [end];
    }
    .content-section {
        grid-column: start/end;
        grid-row: start/row-1-end;
        overflow: auto;
    }
    /* HIDE SCROLL BAR */
    .content-section::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .content-section {
      -ms-overflow-style: none; 
      scrollbar-width: none;  
    }
    .content-header {
        position: sticky;
        top: 0;
        width: 100%;
    }
    .content-info {
        padding-left: 3rem;
        padding-right: 3rem;
        max-width: 100%;
    }
    .sidebar {
        grid-row: row-1-end/row-2-end;
    }
    .footer {
        grid-row:row-2-end/end ;
    }
}
